@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
}
.card{
    background-color: hsl(216, 50%, 16%);
    width: 300px;
    height: 500px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.card-photo{
    /*border: 1px solid white;*/
    height: 280px;
    position: relative;
    display: flex;
}
.card-photo .photo-1{
    position: relative;
    width: 90%;
    display: block;
    margin: auto;
    margin-top: 15px;
    border-radius: 5px;
}
.photo-2{
    visibility: hidden;
    position: absolute;
    top: 130px;
    left: 125px;
}
.card-photo:hover .photo-1{
    opacity: 0.6;
}
.card-photo:hover .photo-2{
     visibility: visible;
}
.card-info{
    padding: 0 15px 0 15px;
    margin-top: 0;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.card-heading h2{
    color: hsl(0, 0%, 100%);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.card-heading h2:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}
.card-heading p{
    color: hsl(215, 51%, 70%);
}
.card-rate{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.rate-left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.rate-left .eth{
    font-weight: 600;
    font-size: 16px;
    color: hsl(178, 100%, 50%);
}
.rate-left img{
    margin-right: 4px;
}
.rate-right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.rate-right img{
    margin-right: 4px;
}
.rate-right .time{
    color: hsl(215, 51%, 70%);
    font-size: 15px;
}
.card-author{
    border-top: 1px solid hsl(215, 32%, 27%);
    padding-top: 10px;
    display: flex;
    align-items: center;
}
.author-photo{
    width: 45px;
}
.author-photo img{
    width: 65%;
    border: 1px solid white;
    border-radius: 50%;
}
.author-info{
    color: hsl(215, 51%, 70%);
}
.author-info .white{
    color: hsl(0, 0%, 100%);
}
.author-info .white:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}